* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;

    background:
        radial-gradient(circle at 20% 20%, #F45B69, transparent 60%),
        radial-gradient(circle at 80% 80%, #D72638, transparent 60%),
        linear-gradient(180deg, #FFF5F5, #FDEAEA);

    background-size: 200% 200%;
    animation: gradientWave 25s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes gradientWave {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}


.login-box {
    background: rgba(255, 255, 255, 0.97); /* glass effect */
    backdrop-filter: blur(4px);
    width: 390px;
    padding: 35px;
    border-radius: 16px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
    text-align: center;
}

.logo {
    width: 180px;
    height: auto;
    margin-bottom: 15px;
}

.login-box h2 {
    margin: 10px 0 25px;
    color: #333;
}

.login-box input {
    width: 100%;
    padding: 14px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.login-box button {
    width: 100%;
    padding: 14px;
    border: none;
    border-radius: 10px;
    background: #d70a30;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.login-page {
    height: 100vh;

    background:
        radial-gradient(circle at 20% 20%, #F45B69, transparent 60%),
        radial-gradient(circle at 80% 80%, #D72638, transparent 60%),
        linear-gradient(180deg, #FFF5F5, #FDEAEA);

    background-size: 200% 200%;
    animation: gradientWave 25s ease infinite;

    display: flex;
    justify-content: center;
    align-items: center;
}

.alert-error {
    background: #FDECEA;
    color: #B71C1C;
    border: 1px solid #F5C2C7;
    padding: 12px 14px;
    border-radius: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    animation: fadeSlide 0.3s ease;
}

@keyframes fadeSlide {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.footer-text {
    margin-top: 20px;
    font-size: 12px;
    color: #777;
}
